body {
  margin: 0px;
  width: 100%;
  font-family: sans-serif;
  color: rgb(48, 48, 48);
  background-color: rgb(255, 253, 247);
}

/* Navbar */

.navbar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 15px 90px 15px 75px;
  position: sticky;
  top: 0;
  background-color: white;
  height: 64px;
  z-index: 1;
}

#navImg {
  height: 27px;
  width: 116px;
  margin-top: 2px;
}

#navLinks {
  margin-top: -2px;
  width: 40%;
  text-align: center;
  color: rgb(208, 208, 208);
  font-size: 0.85em;
  font-weight: 550;
  margin-left: 35px;
}

#setup {
  color: rgb(42, 109, 255);
  display: flex;
}

#sign {
  border: 2px rgb(64, 121, 245) solid;
  margin-top: 5px;
  margin-right: 7px;
  height: 21px;
  width: 21px;
  padding-left: 4px;
  padding-top: 1px;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
}

#support {
  cursor: pointer;
  text-decoration: underline;
  margin-top: 5px;
}

span {
  padding: 0px 14px;
}

#plan {
  color: rgb(42, 109, 255);
}

#day {
  color: black;
  margin: 0px -10px;
}

/* Container */

.container {
  display: flex;
  width: 75%;
  margin: auto;
  gap: 2%;
}

.leftContainer {
  width: 55%;
}

.rightContainer {
  width: 43%;
  /* border: 1px solid rgb(54, 66, 221); */
}

/* UserInfo Box */

#userInfo {
  padding: 30px 50px 40px;
  border: 1px solid rgb(235, 235, 235);
  background-color: white;
}

#userInfo > h3 {
  margin-top: 1px;
  margin-bottom: 25px;
}

#userInfo > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  margin-top: -10px;
  height: 30px;
  border: 1px solid rgb(167, 166, 166);
  padding-left: 5px;
}

label {
  font-size: 0.8em;
  font-weight: 550;
}

#smallLabel {
  width: 20%;
}

#flex {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#flex > p {
  font-weight: bold;
  margin-top: -5px;
}

#nextBtn {
  background-color: rgb(42, 109, 255);
  border: 1px solid rgb(42, 109, 255);
  height: 45px;
  font-size: 1.1em;
  color: white;
  margin-top: -5px;
  cursor: pointer;
}

/* Order Info Box */

#orderInfo {
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  padding: 20px 15px 5px;
  font-size: .9em;
}

#orderInfo > a {
  color: rgb(42, 109, 255);
}

#flex1 {
  display: flex;
  justify-content: space-between;
}

#orderInfo > div {
  border-top: 1px solid rgb(223, 223, 223);
}

#mealNum{
    margin: 0px -15px;
}

#bold{
    font-weight: bold;
}

/* Meal Cards */

#cardsContainer{
    font-size: .9em;
    font-weight: bold;
}

#cardsContainer>div{
    display: flex;
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-bottom: 5px;
}

#cartImg{
    width: 55px;
    height: 55px;
    margin-left: 15px;
}

#cartName{
    margin-left: 15px;
    padding: 20px 0px;
}

/* Common Questions */

#picture {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
  }