body {
    margin: 0px;
    width: 100%;
    font-family: Favoritfreshly, sans-serif;
    font-weight: 400;
}

/* Pre-nav */

.preNav {
    height: 33px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.leftDiv {
    width: 100px;
    padding: 7px 2px;
    border-bottom: 2px solid rgb(3, 81, 78);
    margin-right: -8px;
  }
  
  .rightDiv {
    width: 150px;
    padding: 7px 2px;
  }
  
  #icon1 {
    height: 11px;
  }
  
  #icon2 {
    filter: grayscale(100%);
  }
  
  #icon2:hover {
    filter: none;
    transition: filter 0.3s;
  }
  
  /* Navbar */
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px 20px;
    position: sticky;
    top: 0;
    background-color: rgb(255, 253, 247);
    z-index: 2;
  }
  
  #navImg {
    height: 24px;
    margin-top: -1px;
    padding-left: 1px;
  }
  
  #navLinks {
    display: flex;
    margin-left: -25px;
  }
  
  #navLinkBox {
    text-decoration: none;
    padding: 0px 18px;
    color: rgb(48, 48, 48);
    font-weight: bold;
    font-size: 0.8em;
  }
  
  #navLinkBox:hover {
    color: rgb(49, 103, 255);
  }
  
  #setup {
    display: flex;
  }
  
  #login {
    text-decoration: none;
    font-size: 0.8em;
    margin-right: 17px;
    color: black;
    font-weight: bold;
  }
  
  #signUpBtn {
    background-color: rgb(49, 103, 255);
    color: white;
    text-decoration: none;
    border: 1px solid rgb(49, 103, 255);
    padding: 7px 9px;
    font-size: 1em;
    margin-top: -8px;
    cursor: pointer;
    letter-spacing: 0.5px;
  }
  
  #signUpBtn:hover {
    transform: translateX(2px) translateY(-2px);
    transition: transform 0.4s;
  }
  
  /* First div */
  
  #firstDiv {
    display: flex;
    width: 100%;
    height: 700px;
  }
  
  .firstDivLeft {
    width: 50%;
    height: 100%;
    background-color: rgb(254, 249, 234);
  }
  
  h1 {
    font-size: 3.9em;
    color: rgb(51, 51, 51);
    padding: 83px 10px 80px 65px;
  }
  
  .firstDivLeft > p {
    padding-left: 65px;
    margin-top: -60px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    font-size: 1.2em;
  }
  
  form {
    display: flex;
    margin-left: 66px;
    margin-top: -9px;
  }
  
  label {
    font-size: 0.85em;
    font-weight: bold;
  }
  
  #leftInput {
    margin: 8px 8px 8px 0px;
    height: 40px;
    width: 295px;
    background-color: rgb(247, 247, 247);
    border: none;
    box-shadow: 0px 1px rgb(206, 205, 205);
    color: rgb(83, 83, 83);
    padding-left: 15px;
  }
  
  #rightInput {
    margin: 8px 6px 0px 0px;
    height: 40px;
    width: 125px;
    background-color: rgb(247, 247, 247);
    border: none;
    box-shadow: 0px 1px rgb(206, 205, 205);
    color: rgb(83, 83, 83);
    padding-left: 12px;
  }
  
  #submitBtn {
    padding: 9px 16px;
    font-size: 1.1em;
    margin: 25px 0px 0px 10px;
    color: white;
    background-color: rgb(49, 103, 255);
    border: 1px solid rgb(49, 103, 255);
    cursor: pointer;
    letter-spacing: 0.5px;
  }
  
  #submitBtn:hover {
    transform: translateX(2px) translateY(-2px);
    transition: transform 0.4s;
  }
  
  #firstDivRight {
    width: 50%;
    position: relative;
  }
  
  #firstDivImg {
    width: 100%;
    background-size: cover;
    height: 493px;
    object-fit: cover;
    height: 100%;
    object-position: -160px;
  }
  
  #imgBox {
    position: absolute;
    bottom: 180px;
    right: 35px;
    text-align: right;
  }
  
  #imgPara1 {
    color: white;
    font-size: 1.45em;
    font-weight: bold;
    margin-bottom: -6px;
  }
  
  #imgPara2 {
    color: white;
    font-size: 0.9em;
    margin-bottom: 8px;
  }
  
  #discBtn {
    padding: 9px 16px 7px 14px;
    font-size: 0.9em;
    color: white;
    background-color: rgb(49, 103, 255);
    border: 1px solid rgb(49, 103, 255);
    cursor: pointer;
    letter-spacing: 0.5px;
  }
  
  #discBtn:hover {
    transform: translateX(2px) translateY(-2px);
    transition: transform 0.4s;
  }
  
  #firstDivP {
    padding-left: 65px;
    font-size: 0.85em;
    margin-top: 25px;
    letter-spacing: 0.5px;
    color: rgb(51, 51, 51);
  }
  
  #linkColor {
    color: rgb(49, 103, 255);
  }
  
  /* Second div */
  
  .secondDiv {
    height: 440px;
    text-align: center;
    background-color: rgb(255, 253, 247);
    border: 1px solid rgb(255, 253, 247);
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
    padding: 0px 30px;
  }
  
  h2 {
    font-size: 3em;
    color: rgb(51, 51, 51);
    padding: 17px 0px 0px;
  }
  
  #gif {
    width: 160px;
    height: 145px;
    object-fit: cover;
  }
  
  h3 {
    font-size: 1.4em;
    color: rgb(51, 51, 51);
  }
  
  .container > div > p {
    font-size: 0.8em;
    letter-spacing: 0.5px;
    color: rgb(51, 51, 51);
    margin-top: -10px;
  }
  
  /* Third Div */
  
  .thirdDiv {
    height: 1045px;
    background-image: url(https://assets-global.website-files.com/5d03b4e130118314af624b20/5d94e04ff2b857688f7138b6_home_image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    position: relative;
  }
  
  #centerCard {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 740px;
    height: 917px;
    top: 63px;
    left: 390px;
    padding: 0px 35px 10px;
    box-sizing: border-box;
  }

  #centerCard > h2 {
    margin-top: 12px;
    color: rgb(51, 51, 51);
  }
  
  #centerCard > p {
    font-size: 1.1em;
    margin-top: -30px;
    letter-spacing: 0.3px;
    color: rgb(51, 51, 51);
  }
  
  #cardBtn {
    padding: 13px 0px;
    text-align: center;
    font-size: 1.1em;
    color: white;
    background-color: rgb(49, 103, 255);
    border: 1px solid rgb(49, 103, 255);
    cursor: pointer;
    letter-spacing: 0.5px;
  }
  
  #cardBtn:hover {
    transform: translateX(2px) translateY(-2px);
    transition: transform 0.4s;
  }
  
  #cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  #cardImage {
    width: 213px;
    height: 192px;
    object-fit: cover;
    border-radius: 16px;
  }
  
  #cardImage:hover {
    transform: scale(1.07);
    transition: transform 0.8s ease-out;
  }
  
  #cardsContainer > div {
    cursor: pointer;
  }
  
  #cardsContainer > div > div {
    overflow: hidden;
    border-radius: 16px;
  }
  
  #cardHeading {
    font-size: 0.93em;
    letter-spacing: 0.3px;
    margin-top: 13px;
    color: rgb(51, 51, 51);
  }
  
  #cardHeading:hover {
    color: rgb(53, 116, 113);
    transition: color 0.5s;
  }
  
  #cardsContainer > div > p {
    color: rgb(53, 116, 113);
    font-size: 0.9em;
    padding-right: 20px;
    margin-top: -13px;
    line-height: 1.4em;
  }
  
  /* Plans Div */
  
  .mealPlan {
    height: 711px;
    background-color: rgb(255, 253, 247);
    text-align: center;
    padding: 63px 0px 0px;
    box-sizing: border-box;
  }
  
  #mealHeading {
    font-size: 2.3em;
    margin-top: 2px;
  }
  
  .mealPlan > p {
    font-size: 13.9px;
    margin-top: -35px;
    padding: 0px 410px;
    color: rgb(51, 51, 51);
    font-weight: 500;
  }
  
  #span1 {
    color: rgb(53, 116, 113);
    font-weight: bold;
  }
  
  #span2 {
    font-weight: bold;
  }
  
  .planContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 212px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  
  .planContainer > div > img {
    width: 224px;
  }
  
  .planContainer > div > p {
    background-color: rgb(133, 229, 198);
    font-size: 0.85em;
    font-weight: bold;
    color: rgb(51, 51, 51);
    width: 113px;
    border-radius: 50px;
    padding: 3px 0px 1px;
    position: absolute;
    top: -6px;
    left: 8px;
  }
  
  .planContainer > div {
    position: relative;
  }
  
  .planContainer > div > h4 {
    color: rgb(53, 116, 113);
    font-size: 1.7em;
    margin-top: 12px;
  }

  #shipText {
    color: rgb(53, 116, 113);
    font-weight: bold;
    margin-top: -40px;
    margin-bottom: 30px;
  }

  #planBtn {
    padding: 14px 15px;
    font-size: 1.1em;
    color: white;
    background-color: rgb(49, 103, 255);
    border: 1px solid rgb(49, 103, 255);
    cursor: pointer;
    letter-spacing: 0.5px;
  }
  
  #planBtn:hover {
    transform: translateX(2px) translateY(-2px);
    transition: transform 0.4s;
  }
  
  /* Ratings div */
  
  .ratingsDiv {
    height: 483px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(255, 253, 247);
    padding: 0px 32px;
    border: 1px solid rgb(255, 253, 247);
  }
  
  .carousel {
    height: 235px;
    display: flex;
    justify-content: space-between;
  }
  
  #carouselBox {
    display: flex;
  }
  
  #carouselBox > div {
    width: 382px;
    box-sizing: border-box;
    padding: 24px 16px;
    margin: 0px 16px;
  }
  
  .carousel > div > img {
    width: 30px;
  }
  
  #stars {
    width: 167px;
    margin-bottom: 13px;
  }
  
  #imageDivLeft {
    width: 80px;
    padding-top: 100px;
    cursor: pointer;
  }
  
  #imageDivRight {
    width: 80px;
    padding-top: 100px;
    cursor: pointer;
  }
  
  #carouselBox > div > h4 {
    font-size: 1.2em;
    font-weight: 500;
    color: black;
    letter-spacing: 0.3px;
    margin-bottom: -5px;
  }
  
  #carouselBox > div > p {
    font-size: 0.9em;
    color: rgb(51, 51, 51);
    line-height: 1.4em;
  }
  
  #carouselBox > div > h5 {
    font-size: 0.95em;
    color: rgb(51, 51, 51);
    font-weight: 400;
    margin-top: -5px;
    letter-spacing: 0.4px;
  }

   /* Fourth div Starts */

.fourthDiv {
  height: 836px;
  padding: 64px 32px;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.fourthDiv > div {
  width: 40%;
}

#fourthDivImg {
  width: 57.5%;
  height: 708px;
  position: absolute;
  right: 32px;
}

#fourthDivImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fourthDiv > div > button {
  padding: 14px 15px;
  font-size: 1.1em;
  color: white;
  background-color: rgb(49, 103, 255);
  border: 1px solid rgb(49, 103, 255);
  cursor: pointer;
  letter-spacing: 0.5px;
}

.fourthDiv > div > button:hover {
  transform: translateX(2px) translateY(-2px);
  transition: transform 0.4s;
}

#ovarlapDiv {
  position: absolute;
  top: 215px;
  left: 84px;
  z-index: 1;
  background-color: white;
  width: 700px;
  padding-bottom: 20px;
}

#ovarlapDiv > h2 {
  font-size: 2.9em;
  margin-top: 20px;
}

#ovarlapDiv > p {
  font-size: 1.1em;
  margin-top: -20px;
  margin-bottom: 40px;
}

  /* Fifth div starts */

.fifthDiv {
  height: 772px;
  padding: 64px 32px 0px 32px;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.fifthDiv > div {
  width: 40%;
}

#fifthDivImg {
  width: 57.5%;
  height: 708px;
  position: absolute;
  left: 32px;
}

#fifthDivImg > img {
  width: 100%;
  height: 100%;
}

.fifthDiv > div > button {
  padding: 14px 15px;
  font-size: 1.1em;
  color: white;
  background-color: rgb(49, 103, 255);
  border: 1px solid rgb(49, 103, 255);
  cursor: pointer;
  letter-spacing: 0.5px;
  width: 400px;
}

.fifthDiv > div > button:hover {
  transform: translateX(2px) translateY(-2px);
  transition: transform 0.4s;
}

#ovarlapDiv1 {
  position: absolute;
  top: 117px;
  right: 84px;
  z-index: 1;
  background-color: white;
  width: 747px;
  padding: 0px 45px;
  box-sizing: border-box;
  height: 481px;
}

#ovarlapDiv1 > h2 {
  font-size: 2.9em;
  margin-top: 22px;
  margin-bottom: 25px;
}

#ovarlapDiv1 > input {
  height: 45px;
  border-radius: 5px;
  border: grey solid 1px;
  width: 570px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 1.1em;
}

#newId {
  font-size: 0.87em;
  margin-top: 35px;
  letter-spacing: 0.4px;
}